---
---
<header>
  <h1>NICO</h1>
  <p class="bio">Product designer and developer focused on creating intuitive, meaningful digital experiences. Based in San Francisco, working at the intersection of design and technology.</p>
</header>
